<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{asunto}</title>
    </head> 
    <body align="center" style="width:100%;font-family:Arial; font-size:18px; padding:16px;">
        <div style="text-align:center;width:100%;">
            <h1 style="font-size:50px;color:#24658e;">Hola, {nombreDestinatario}!</h1>
        </div>
        <div align="center" style="width:100%; max-width:1200px; min-width:300px;">
            <p>Te hemos generado un acceso temporal. Haz clic en el siguiente enlace:</p>
            <a href="{link}">Ir a recuperar contraseña</a>
            <p><b>Si no has solicitado cambiar la contraseña, ignora este mensaje.</b></p>
            <p style="margin-top: 100px;">Un saludo,</p>
            <p><i>Equipo del sitio web</i></p>
        </div>
        
    </body> 
</html>
