<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{asunto}</title>
    </head> 
    <body align="center" style="width:100%;font-family:Arial; font-size:18px; padding:16px;">
        <div style="text-align:center;width:100%;">
            <a href="https://atleticosansebastian.com" target="_blank"><img src="cid:logotipo" style="width: 150px;"></a>    
            <h1 style="font-size:50px;color:#24658e;">Hola, {nombreDestinatario}!</h1>             
        </div>
        <div align="center" style="width:100%; max-width:1200px; min-width:300px;">
            <p>Te hemos generado un acceso temporal, haz click en el siguiente enlace: <p>
            <a href="{link}">Ir a recuperar contraseña</a>
            <p><b>Si usted no ha solicitado cambiar la contraseña, ignore este mensaje.<b></p>
            <p style="margin-top: 100px;">Un saludo,</p>
            <p><i>Equipo de ATSS</i></p>                
            <a href="https://atleticosansebastian.com" target="_blank">atleticosansebastian.com</a>
        </div>
        
    </body> 
</html>