<article class="art15 {classVar}">    
    <div class="art15-header">
        {header-primary}
    </div>
    <div class="art15-content">
        <p data-lang="{p-01-dl}" class="art15-destacado">{p-01-text}</p>
        <p data-lang="{p-02-dl}">{p-02-text}</p>

        <div>
            <img data-lang="{img-01-dl}" src="{img-01-src}" alt="{img-01-alt}" title="{img-01-title}" width="1500" height="1000">
            <img data-lang="{img-02-dl}" src="{img-02-src}" alt="{img-02-alt}" title="{img-02-title}" width="1000" height="1000">
        </div>
    </div>
</article>