<article class="artScale01 {classVar}">
  <div class="artScale01-stage">
    <div class="artScale01-media" data-scale-media>
      <video class="artScale01-video" data-lang="{video-title-dl}" preload="metadata" autoplay loop muted playsinline aria-hidden="true" title="{video-title}">
        <source data-lang="{video-webm-dl}" src="{video-webm}" type="video/webm">
        <source data-lang="{video-mp4-dl}" src="{video-mp4}" type="video/mp4">
      </video>
      <div class="artScale01-media-overlay"></div>
    </div>

    <div class="artScale01-text">
      <div class="artScale01-text-line">
        <span class="artScale01-text-word" data-scale-text data-lang="{line1a-dl}">{line1a-text}</span>
        <span class="artScale01-text-word" data-scale-text data-lang="{line1b-dl}">{line1b-text}</span>
      </div>
      <div class="artScale01-text-line">
        <span class="artScale01-text-word" data-scale-text data-lang="{line2a-dl}">{line2a-text}</span>
        <span class="artScale01-text-word" data-scale-text data-lang="{line2b-dl}">{line2b-text}</span>
      </div>
      <div class="artScale01-text-line">
        <span class="artScale01-text-word" data-scale-text data-lang="{line3-dl}">{line3-text}</span>
      </div>
      <div class="artScale01-cta">
        {button-primary}
      </div>
    </div>
  </div>
</article>
