<article class="art12 {classVar}">
    <!-- Encabezado variable-->
    {header-primary}

    <div class="art12-fichas">
        {items}
    </div>
    
    <!-- Separador superior -->
    <div class="custom-shape-divider-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
                    class="shape-fill"
                    fill="{top-fill}"></path>
        </svg>
    </div>

    <!-- Separador inferior -->
    <div class="custom-shape-divider-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
                    class="shape-fill"
                    fill="{bottom-fill}"></path>
        </svg>
    </div>
</article>
