<article class="art23 {classVar}">
    <div class="art23-content">
        {header-primary}
        <p data-lang="{p1-dl}">{p1-text}</p>
        <p data-lang="{p2-dl}">{p2-text}</p>
    </div>

    <div class="art23-media">
        <img
            data-lang="{img-dl}"
            src="{img-src}"
            alt="{img-alt}"
            title="{img-title}"
            width="{img-width}"
            height="{img-height}"
            loading="lazy"
            decoding="async">
    </div>
</article>
