<header class="hero07 {classVar}" {editor-attributes}>
    <img
        class="hero07-media"
        data-lang="{img-dl}"
        data-blog-image-object-position-y="{img-object-position-y}"
        src="{img-src}"
        srcset="{img-srcset}"
        sizes="{img-sizes}"
        alt="{img-alt}"
        title="{img-title}"
        width="{img-width}"
        height="{img-height}"
        fetchpriority="high"
        decoding="async">

    <div class="hero07-content">
        {hero07-content}
    </div>
</header>
