<header class="hero06 {classVar}" {editor-attributes}>
    <img
        class="hero06-media"
        data-lang="{img-dl}"
        data-blog-image-object-position-y="{img-object-position-y}"
        src="{img-src}"
        srcset="{img-srcset}"
        sizes="{img-sizes}"
        alt="{img-alt}"
        title="{img-title}"
        width="{img-width}"
        height="{img-height}"
        fetchpriority="high"
        decoding="async">

    <div class="hero06-content">
        {hero06-content}
    </div>
</header>
