<div class="megamenu">

    <!-- ===== Columna 1 ===== -->
    <div class="col">
        <p data-lang="{col1-intro-dl}">{col1-intro-text}</p>
        {col1-links}
    </div>

    <!-- ===== Columna 2 ===== -->
    <div class="col">
        <p data-lang="{col2-intro-dl}">{col2-intro-text}</p>
        {col2-links}
        {col2-button}
        <span data-lang="{col2-follow-dl}">{col2-follow-text}</span>
        {col2-social}
        {col2-logo-business}
    </div>

    <!-- ===== Columna 3 ===== -->
    <div class="col">
        <p data-lang="{col3-intro-dl}">{col3-intro-text}</p>
        {col3-links}
    </div>

</div>
