@use '../config' as c;

.art07{
    width: c.$anchoFull;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3rem;

    // Primera zona    
    .art07-parallax{
        width: 100%;
        position:relative; 
        overflow:hidden;
        height:50vh;
        .bg{ 
            position:absolute;
            background-position: center;
            inset:0; 
            will-change:transform;
        }
        h3{
            position: absolute;
            inset: 0;
            width: 100%;
            padding: c.$padMax;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;
            >:nth-child(2){
                font-size: 9vw;
                @media only screen and (min-width:c.$desktop){
                    &{
                        font-size: clamp(9rem, 10vw, 10rem);
                    }
                }
            }
        }
    }
    // Segundo zona
    >:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 3rem;
        @media only screen and (min-width:c.$desktop){
            &{
                width: c.$anchoMedio;
                position: relative;
            }
        }
        h4{
            font-size: 2rem;
            letter-spacing: 0px;
            transform: translateX(0) rotate(0deg);
            padding: 0 c.$padMin;
            @media only screen and (min-width:c.$tablet){
                &{
                    font-size: 4rem;
                    letter-spacing: -5px;
                }
            }
            @media only screen and (min-width:c.$desktop){
                &{
                    position: absolute;        
                    left: -60px;
                    top: 50%;
                    transform: translateX(-50%) rotate(-90deg);
                    font-size: 7rem;
                    letter-spacing: -10px;
                    padding: initial;
                }
            }
        }
        >p{
            width: 100%;
            padding: c.$padMin;
            @media only screen and (min-width:c.$desktop){                
                &{
                    padding: initial;
                    width: c.$anchoCorto;
                    max-width: c.$textMax;
                    min-width: c.$textMin;
                }
            }
        }
        .art07-matrix{
            width: 100%;
            position: relative; 
            display: grid;                        
            @media (min-width: c.$tablet) {
                grid-template-columns: repeat(3, 1fr);
            }
            .card-parallax {
                position: relative;
                overflow: hidden;
                aspect-ratio: 1 / 1;
                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;                    
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    will-change: transform;
                }
            }
        }
    }
    // Tercera zona
    >:nth-child(3){
        position: relative;
        width: 100%;
        margin: 7rem 0;
        background-color: c.$color01;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;        
    }
    .art07-cite{
        margin: 2rem c.$padMin;
        border-left: 2px solid c.$color02;
        padding-left: c.$padMin;
        @media only screen and (min-width:c.$tablet){
            &{
                margin: 2rem 6rem;
                padding-left: 3rem;
            }
        }
        @media only screen and (min-width:c.$desktop){
            &{
                width: c.$anchoCorto;
                min-width: c.$textMin;
                max-width: c.$textMax;
                margin: 2rem 0;
            }
        }  
        cite{            
            display: flex;
            flex-direction: column;                            
            @media only screen and (min-width:c.$tablet){
                &{
                    flex-direction: row;
                    align-items: center;
                }
            }
            span{
                color: c.$color00;                
            }
            >:nth-child(1){
                font-size: clamp(2em, 5vw, 4em);
                @media only screen and (min-width:c.$tablet){
                &{
                    position: relative;
                    transform: translate(-20px, -20px);
                }
            }
            }
            >:nth-child(2){
                font-size: clamp(1.1rem, 5vw, 1.5rem);
            }
        }
    }
        
    .custom-shape-divider-bottom-1716457141 {
        position: absolute;
        top: 2px;
        left: 0;
        transform: translateY(-100%);
        width: 100%;
        overflow: hidden;
        line-height: 0;
        svg {
            position: relative;
            display: block;
            width: calc(127% + 1.3px);
            height: 20px;
            @media only screen and (min-width:c.$desktop){
                & {
                    height: 137px;
                }
            }
        }
        .shape-fill {
            fill: c.$color01; 
        }
    }
    .custom-shape-divider-top-1716457038 {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        transform:translateY(100%) rotate(180deg);
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 22px;
            transform: rotateY(180deg);
            @media only screen and (min-width:c.$desktop){
                & {
                    height: 137px;
                }
            }
        }
        .shape-fill {
            fill: c.$color01;
        }
    }
}













