@use '../config' as c;

.art11{
    padding: c.$padMax;
    background-color: c.$color04;
    background: c.$color04;
    background: linear-gradient(0deg,c.$color02 0%, c.$color04 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 5rem;    
    >.art11-stats{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5rem;
        @media only screen and (min-width:c.$tablet){
            gap: 4rem;
        }
        @media only screen and (min-width:c.$desktop){
            gap: 5rem;
        }
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1.5rem;
            span{
                color: c.$color00;
            }
            >:nth-child(1){
                font-size: clamp(1.4rem, 2vw, 4rem);
            }
            >:nth-child(2){
                width: 60%;
                font-size: clamp(0.6rem, 1vw, 1rem);
                text-align: center;
            }
        }        
    }
    h3{
        text-align: center;
        color: c.$color00;
        letter-spacing: 2px;
    }
    >span{
        color: c.$color00;
        font-weight: 100;
        font-style: italic;
        border-top: 2px solid c.$color00;
        padding-top: 1.5rem;
    }
}