@use '../config' as c;

.artAccordion01{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    padding: 3rem 0;
    @media only screen and (min-width:c.$tablet){
        width: c.$anchoMedio;
        padding: 6rem 0;
    }
    @media only screen and (min-width:c.$desktop){
        width: c.$anchoMini;
        padding: 8rem 0;
    }
    .artAccordion01-container {
        width: 100%;
        padding: 0 c.$padMin;
    }
    
    .accordion-item {
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        background: c.$color00;
        padding: 1rem;
        box-shadow: c.$sombraMin;
        margin-bottom: 15px;
        @media only screen and (min-width:c.$tablet){
            padding: 2rem;
        }
        @media only screen and (min-width:c.$desktop){
            padding: 5rem;
        }
        > .artAccordion01-title {
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            align-items: center;
            line-height: 1;
            cursor: pointer;
        }        
        > .artAccordion01-title > .artAccordion01-arrow {
            fill: c.$color02;
        }

        > .artAccordion01-content {
            display: none;
            overflow: hidden;
        }

        > .artAccordion01-content > .entry {
            line-height: 1.74;

            p {
                &:last-of-type,
                &:last-child {
                    margin-bottom: 0;
                    margin-top: 1rem;
                }
            }
        }
    }
}