@use '../config' as c;

.liquidCaptcha{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    -o-column-gap: 0px;
    input{
        max-width: 127px;
        @media only screen and (min-width: c.$desktop){
            max-width: 250px;
        }
    }
    #solucion{
        display: none;
    }
    span{
        padding: 0 4px;
        color: c.$color01;
    }
    p{
        width: 95px;
        color: c.$color01;
        @media only screen and (min-width:c.$tablet){
            width: 120px;
        }
    }
}
