@use '../config' as c;

.moduleH1Type02 {
    width: c.$anchoFull;
    padding: c.$padMin 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    // text-align: center;

    @media only screen and (min-width: c.$tablet) {
        padding: 2rem 0;
        row-gap: 2rem;
    }

    .moduleH1Type02-title,
    .moduleH1Type02-highlight,
    .moduleH1Type02-text {
        padding: 0 c.$padMin;
        max-width: c.$textMax;
        @media only screen and (min-width:c.$desktop){
            padding: 0;
        }
    }

    .moduleH1Type02-title {
        color: c.$color02;
    }

    .moduleH1Type02-highlight {
        color: c.$color01;
        font-family: c.$fuente02;
        font-weight: 600;
    }

    .moduleH1Type02-text {
        color: c.$color01bis;
        font-family: c.$fuente02;
    }

    .moduleH1Type02-cta {
        display: flex;
        justify-content: center;
    }
}
