@use '../config' as c;


.cookie_close{    
    cursor: crosshair;
    width: 25px;
    height: 25px;
    background-color: c.$color02;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7px;
    right: 7px;
    opacity: 1;
    span{
        pointer-events: none;
    }        
    span:nth-child(1){
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: c.$color03;
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transition: .2s;                   
    }
    span:nth-child(2){
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: c.$color03; 
        transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        transition: .2s;                 
    }
    &:hover span:nth-child(1){
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transition: .2s;
        width: 18px;
        height: 2px;
    }
    &:hover span:nth-child(2){
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        transition: .2s;
        width: 18px;
        height: 2px;
    }   
      
}

.modal_terminos{
    position: fixed;
    z-index: 4000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: c.$color01;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;    
    .menucaja{
        position: relative;
        z-index: 4100;        
        transform: translateY(57px);
        -webkit-transform: translateY(54px);
        width: 100%;
        height: 60px;
        max-width: 1920px;
        border-top: 3px solid c.$color02;
        border-left: 3px solid c.$color02;
        border-right: 3px solid c.$color02;
        border-radius: 10px 10px 0 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, c.$color00 100%);        
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .caja{     
        position: relative;
        width: 100%;
        max-width: 1920px;
        height: 100%;
        background-color: c.$color00;
        border: 3px solid c.$color02;
        border-radius: 10px;
        padding: 15px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        color: c.$color01;
        &::-webkit-scrollbar{
            display: none;
        }
        @media only screen and (min-width: c.$tablet){
            &{
                padding: 30px;
            }
        }
        @media only screen and (min-width: c.$desktop){
            &{
                padding: 80px;
            }
        }
        h2{
            margin-top: 20px;
            font-family: c.$fuente02;
            font-size: 1.5rem;
            color: c.$color02;
        }
        h3{
            margin-top: 10px;
            font-family: c.$fuente02;
            font-size: 1.2rem;
        }
        p{
            font-family: c.$fuente02;
            color: c.$color01;
            font-size: 1.1rem;
            line-height: 1.4rem;
        }
        ul{
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 10px;
            li{
                font-family: c.$fuente02;
                font-size: 1.1rem;
                line-height: 1.4rem;
            }
        }
        table{
            border: hidden;
            border-spacing: 0;
            margin-bottom: 10px;
            td{
                font-family: c.$fuente02;
                font-size: 1rem;
                line-height: 1.4rem;
                padding: 5px;
                &:nth-child(1){
                    font-weight: bold;
                }
            }
            tr:nth-child(even){
                background-color: c.$color03;
            }
        }        
    }
}