@use '../config' as c;

.moduleButtonType01{
    width: max-content;
    background-color: c.$color01;
    padding: 0.5rem 0.5rem 0.5rem 1rem ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    transition: .5s;
    &:hover >div >img{
        transform: rotate(0deg);
    }
    &:active{
        transform: scale(0.95)
    }         
    >span{
        color: c.$color00;
    }
    >div{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: c.$color00;
        display: flex;
        justify-content: center;
        align-items: center;
        >img{
            width: 20px;
            height: 20px;
            object-fit: contain;
            transform: rotate(-45deg);
            filter: invert(0);
            transition: .2s;                    
        }
    }
    
}