@use '../config' as c;

.moduleButtonType02{
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: c.$color02;
    &:hover span{
        color: c.$color01 
    }
    &:hover .art01-icon{
        background-color: c.$color01;
    }
    >span{
        color: c.$color04;
        font-weight: 400;
        transition: 0.3s;
    }
    .moduleButtonType02-icon{
        width: 15px;
        height: 15px;
        border-radius: 50%;        

        /* WebKit (Safari) */
        -webkit-mask-image: url('../../assets/img/system/arrow-forward-outline.svg');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: contain; 

        /* Estandar */
        mask-image: url('../../assets/img/system/arrow-forward-outline.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color:c.$color04;
        transition: 0.3s;                        
    }
}