@use '../config' as c;

.modulePassChecker{
    --colorOK:#6DE063;
    --colorERROR:#DD7676;
    width: c.$anchoFull;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin-bottom: 2rem;
    >div{
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        >img{
            width: 30px;
        }
        >span{
            color: var(--colorERROR);
        }
        .checkOK{
            color: var(--colorOK);
        }
    }
}
.checkImgInput{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-35px, -50%);
    width: 30px;
    @media only screen and (min-width: c.$tablet){
        &{
            transform: translate(-50px, -50%);
        }
    }
}