@use '../config' as c;

.sect01{
    --gap:10px;
    row-gap: var(--gap);
    overflow: hidden;
    >:nth-child(2){
        margin-top: 2rem;
    } 
    article{
        width: c.$anchoFull;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @media only screen and (min-width:c.$desktop){
            &{                
                width: c.$anchoMedio;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
        .sect01-text{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: c.$padMin;
            row-gap: 2rem;
            @media only screen and (min-width:c.$tablet){
                &{
                    width: c.$anchoMedio;
                    padding: c.$padMax;               
                }
            }
            @media only screen and (min-width:c.$desktop){
                &{
                    width: c.$anchoMini;                    
                }
            }
            .sect01-title{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                column-gap: 2rem;
                img{
                    width: 40px;
                }
            }
            .sect01-content{         
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                @media only screen and (min-width:c.$tablet){
                &{
                    margin-left: 1rem;
                    border-left: 2px solid c.$color02;
                    padding-left: 3rem;         
                }
            }
            }
            .sect01-cta{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        .sect01-images{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            @media only screen and (min-width:c.$tablet){
                &{                
                    flex-direction: row;                
                }
            }
            @media only screen and (min-width:c.$desktop){
                &{
                    width: c.$anchoCorto;               
                }
            }
            .sect01-logos{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: var(--gap);
                @media only screen and (min-width:c.$tablet){
                    &{                
                        width: 33.33333%;
                        flex-direction: column;
                        column-gap: initial;
                        row-gap: var(--gap);   
                    }
                }
                >div{
                    width: 50%;                                  
                    overflow: hidden;
                    @media only screen and (min-width:c.$tablet){
                        &{
                                   
                            width: 100%;
                        }
                    }
                    &:hover img{
                        transform: scale(1.2);
                    }
                }
            }
            .sect01-visual{
                width: 100%;
                overflow: hidden;
                @media only screen and (min-width:c.$tablet){
                    &{                
                        width: calc(66.666666% - var(--gap));        
                    }
                }
                &:hover img{
                    transform: scale(1.2);
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1s;
            }
        }
    }
    >article:nth-child(odd){
        .sect01-text{            
            @media only screen and (min-width:c.$desktop){
                &{                
                    order: 1;      
                }
            }
        }
        .sect01-images{
            .sect01-logos{
                @media only screen and (min-width:c.$desktop){
                    &{                
                        order: 1;      
                    }
                }
            }
        }
    }
}