@use '../config' as c;

.sectTabs {
    width: c.$anchoFull;
    padding: c.$padMin;
    background-color: c.$color00;
    @media only screen and (min-width:c.$tablet){
      padding: c.$padMax 0;
    }
    >p{
        width: 100%;
        @media only screen and (min-width:c.$tablet){
            width: c.$anchoCorto;
            max-width: c.$textMax;
            min-width: c.$textMin;
        }
    }
    .tabs-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        width: 100%;
        // background-color: aqua;
        @media only screen and (min-width:c.$tablet){
            width: 100%;
            padding: c.$padMax 10rem;
            
            box-shadow: 1rem 1rem 3rem c.$color01bis3;
        }
        @media only screen and (min-width:c.$desktop){
            width: c.$anchoCorto;
            padding: c.$padMax 10rem;
            border-radius: 1rem;
            box-shadow: c.$sombraMax;
        }
    }
    .tabs-nav {
        display: flex;
        justify-content: center;
        position: relative;
        .nav-item {
            padding: 5px 0;
            margin-right: 35px;
            cursor: pointer;
            span {
                color: c.$color02;
                font-size: clamp(0.8rem, 1vw, 2rem)
            }
        }
    }
    .nav__line {
        width: 100%;
        display: flex;
        position: relative;
        height: 1px;
        .line {
            width: 0;
            height: 2px;
            position: absolute;
            background-color: c.$color02;
        }
    }
    .tab-containers {
        margin-top: 15px;
    }
    .tab-container__item {
        display: none;
        opacity: 0;
        visibility: hidden;
        &.is-active {
            display: flex;
            opacity: 1;
            visibility: visible;
        }
    }
    .tab-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        ul{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            list-style:inside;
            h5{
                margin-left: 1rem;
            }
            li{        
                @media only screen and (min-width:c.$tablet){
                    margin-left: 2rem;
                }
                a{
                    color: c.$color02;
                }
            }
            
        }
    }
}