@use '../config' as c;

.art12{
    position: relative;
    width: c.$anchoFull;
    background-color: c.$color01;
    padding: 8rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3rem;
    @media only screen and (min-width:c.$tablet){
        padding: 7rem c.$padMax;
        row-gap: 4rem;
    }
    @media only screen and (min-width:c.$desktop){ 
        padding: 10rem 0;      
        row-gap: 5rem;
    }
    >:nth-child(1){
        color: c.$color02;
    }
    .art12-fichas{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        justify-items: stretch;
        align-items: stretch;
        gap: 2rem;
        @media only screen and (min-width:c.$desktop){
            width: c.$anchoMedio;
            margin: 0 auto;
        }
        .art12-ficha{
            position: relative;
            background-color: c.$color00bis2;
            width: 100%;
            border-radius: 1.5rem;
            padding: c.$padMin;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            transition: 1.5s;
            overflow: hidden;
            @media only screen and (min-width:c.$desktop){
                padding: c.$padMax;
                row-gap: 2rem;
            }
            &:hover{
                transition: .1s;
                background-color: c.$color00;
                >:not(img,div){
                    color: c.$color01;
                }
                .fade-right{
                    transition: 1s;
                    right: -20%;
                    opacity: 1;
                }
                .ficha-icon{
                    filter: saturate(1) invert(0);
                }
            }
            >:not(img,div){
                color: c.$color00;
                transition: .5s; 
            }
            >:not(img,div), .ficha-icon, a{
                z-index: 1;
            }
            .fade-right{
                height: 100%;
                position: absolute;         /* contexto para el ::after */
                display: inline-block;
                opacity: 0;
                z-index: 0;
                right: -90%;
                top: 0;
                transition: 0.1s;     /* ajusta al tamaño de la foto */
                &::after{
                    content: "";
                    position: absolute;
                    inset: 0;                   /* cubre toda la foto */
                    pointer-events: none;       /* la imagen sigue clicable */
                    background: linear-gradient(
                                to right,
                                #fff 0%,        /* blanco sólido */
                                #fff 20%,       /* 0 – 20 % = opaco */
                                transparent 100%);
                }
                .imgBack{
                    display:block;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .ficha-icon{
                filter: saturate(0) invert(1);
                transition: .5s;
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
            >:nth-child(1){
                order: 2;
                color: c.$color02;
                @media only screen and (min-width:c.$tablet){
                    font-size: clamp(1rem, 2vw, 2rem);
                    min-height: calc(clamp(1.2rem, 2.5vw, 2.5rem) * 4);
                }
            }
            >:nth-child(2){
                order: 1;
            }
            >:nth-child(3){
                order: 3;
            }
            >:nth-child(4){
                order: 4;
                margin-bottom: 3rem;
            }
            >:nth-child(5):is(a){
                order: 5;
                position: absolute;
                bottom: c.$padMin;
            }            
        }
    }
    
    .custom-shape-divider-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: translateY(-2px); //Corrige error de pixel al hacer scroll
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 59px;            
            // transform: rotateY(180deg);
        }
    }
    .custom-shape-divider-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg) translateY(-2px); //Corrige error de pixel al hacer scroll
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 59px;
        }
    }
}
