@use '../config' as c;

.art09{
    width: c.$anchoFull;
    padding: 0 c.$padMin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @media only screen and (min-width: c.$desktop){
        width: c.$anchoMedio;
        padding: initial;
    }
    >:nth-child(1):not(div){
        width: 100%;
        @media only screen and (min-width: c.$desktop){
            width: c.$anchoMedio;
            max-width: c.$textMax; 
        }
    }
    .art09-info{
        width: 100%;
        padding-top: c.$padMin;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        @media only screen and (min-width: c.$desktop){
            width: c.$anchoMedio;
            max-width: c.$textMax;
        }
    }
    .art09-fichas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @media only screen and (min-width: c.$tablet){
            &{            
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                column-gap: 1.5rem;
                flex-wrap: wrap;
            }
        }
        @media only screen and (min-width: c.$desktop){
            &{            
                max-width: 1450px;
                column-gap: 4rem;
            }
        }    
        >div{
            width: 100%;
            padding: 1rem;        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 2rem;
            @media only screen and (min-width: c.$tablet){
                &{
                    width: 20%;
                    padding: 2rem;
                }
            }
            >:nth-child(1){
                word-wrap: break-word;
                text-align: center;
                order: 1;
                @media only screen and (min-width: c.$tablet){
                    min-height: 60px;
                }                
            }
            >:nth-child(2){
                order: 0;
                width: 100px;
                object-fit: contain;
                &:is(img){
                   filter: c.$filterColor02;
                   -webkit-filter: c.$filterColor02;
                   width: 3rem;
                   height: 3rem;
                    @media only screen and (min-width:c.$tablet){
                        width: 5rem; 
                        height: 5rem;  
                    }
                }       
            }
            >:nth-child(3){ 
                order: 2;
                height: 50px;
                object-fit: contain;
                @media only screen and (min-width: c.$tablet){
                    &{
                        width: 300px;
                        height: 80px;
                    }
                }
            }
            p{
                text-align: center;                
                @media only screen and (min-width: c.$tablet){
                    min-height: 160px;
                }
            }
        }
    }
}
