@use '../config' as c;

.artSlider01 {
    width: c.$anchoFull;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding: 0 c.$padMin;
    
    @media only screen and (min-width: c.$desktop) {
        padding: initial;
        width: c.$anchoMedio;
    }

    /* --------- header --------- */
    .artSlider01-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 c.$padMin;
        @media only screen and (min-width: c.$tablet) {
            padding: initial;
        }
        >:nth-child(1):not(a) {
            font-size: 0.75rem;
            font-weight: 600;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            color: c.$color02;
            border-left: 2px solid c.$color02;
            padding-left: 0.7rem;
        }
        .view-more {
            font-size: 0.9rem;
            color: c.$color01bis;
            transition: color 150ms ease;
            &:hover { color: c.$color02; }
        }
    }

    /* --------- pista scrollable --------- */
    .artSlider01-track {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;             // GSAP translateX dentro
        scroll-behavior: smooth;      // por si fallback manual

        .artSlider01-card {
            position: absolute;
            inset: 0;            
            width: 50%;
            min-width: 50%;
            height: max-content;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            @media only screen and (min-width: c.$tablet) {
                width: 25%;
                min-width: 25%;
                padding: 1rem;
            }
            img {
                width: 100%;
                aspect-ratio: 3 / 2;
                object-fit: cover;
                border-radius: 0.8rem;
            }
            .meta {
                font-size: 0.7rem;
                color: c.$color01bis2;
            }
            .tags {
                font-size: 0.7rem;
                color: c.$color01bis2;
            }
            .read-more{
                color: c.$color02;
            }
        }
    }

    /* --------- controles --------- */
    .artSlider01-nav {
        display: flex;
        justify-content: center;
        gap: 1rem;

        button {
            width: 36px; height: 36px;
            border-radius: 50%;
            border: none;
            background: c.$color00;
            box-shadow: 0 0 0 1px c.$color03bis inset;
            display: grid;
            place-content: center;
            cursor: pointer;
            transition: background 150ms;

            svg { stroke: c.$color01; }

            &:hover { background: c.$color02bis2; }
        }
    }
}
