@use '../config' as c;

.art16{
    width: c.$anchoFull;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    padding: c.$padMin;
    .art16-parallax{
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 50vh;
        .bg{
            position: absolute;
            inset: 0;
            background-position: center;
            will-change: transform;
        }
        h3{
            position: absolute;
            inset: 0;
            width: 100%;
            padding: c.$padMax;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;
            text-align: center;
            >:nth-child(2){
                font-size: 7vw;
                line-height: 7vw;
                @media only screen and (min-width: c.$desktop){
                    font-size: clamp(5rem, 10vw, 7rem);
                    line-height: clamp(5rem, 10vw, 7rem);
                }
                @media only screen and (min-width:c.$tablet) and (max-height: 900px){
                    font-size: clamp(2rem,6vw,5rem);
                    line-height: clamp(2rem, 6vw, 5rem);
                }   
            }   
            >span{
                color:c.$color00;
            }
        }
    }
    >p{
        max-width: c.$textMax;
        margin: 2rem auto;
    }
    .art16-cta{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
