@use '../config' as c;

/* ESTILOS DEL ARTÃCULO 5 */
.art05{
    width: c.$anchoFull;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.5rem;
    @media only screen and (min-width:c.$tablet){
        &{
            width: c.$anchoMedio;
        }
    }
    >:nth-child(1){
        width: 100%;
        padding: c.$padMin;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1.5rem;
        text-align: center;
        p{
            @media only screen and (min-width:c.$tablet){
                &{
                    width: c.$anchoCorto;
                    max-width: c.$textMax;
                    min-width: c.$textMin; 
                }
            }
        }
    }
    >:nth-child(2){
        width: 100%;
        padding: 0 c.$padMin;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        @media only screen and (min-width:c.$tablet){
            &{
                padding: initial;
            }
        }
        .ficha{
            width: 100%;
            padding: c.$padMin;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 1rem;
            @media only screen and (min-width:c.$tablet){
                &{
                    width: 48%;
                }
            }
            @media only screen and (min-width:c.$desktop){
                &{
                    width: 23%;
                    max-width: 500px;
                }
            }
            >:nth-child(1):not(img){
                order: 1;
            }
            p:not(.firma){
                order: 2;
                width: 100%;
                text-align: center;
                @media only screen and (min-width:c.$tablet){
                    min-height: 150px;
                }
            }
            img{
                order: 0;
                width: 80px;
                filter: c.$filterColor02;
                // border-radius: 50%;
            }
            .firma{
                order: 3;
                font-style: italic; 
                color: c.$color02;
                text-align: center;
            }
        }
    }
}








