@use '../config' as c;

.art15{
    width: c.$anchoMax;
    @media only screen and (min-width:c.$desktop){
        &{
            width: c.$anchoMedio;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;            
            align-items: flex-start;
            row-gap: 2rem;
        }
    }
    .art15-header{
        width: 100%;
        display: flex;
        justify-content: flex-start;
         @media only screen and (min-width:c.$desktop){
            &{
                width: 25%; 
            }
        }
    }
    .art15-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        padding: 0 c.$padMin;
        @media only screen and (min-width:c.$desktop){
            &{
                width: 75%;
                row-gap: 2.5rem;
                padding: initial;
            }
        }
        .art15-destacado{
            font-size: clamp(1.2rem, 2vw, 3rem);
            font-weight: 400;
        }
        >:nth-child(2){
            color: c.$color01bis2;
        }
        >div{
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            @media only screen and (min-width:c.$tablet){
                &{
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            >img{
                max-height: 40dvh;
                height: auto;
                object-fit: cover;
                object-position: center;
                border-radius: 2.1rem;
                @media only screen and (min-width:c.$tablet){
                    &{
                        max-height: 50dvh;
                    }
                }
            }
            >:nth-child(1){
                width: 100%;
                aspect-ratio:auto;
                @media only screen and (min-width:c.$tablet){
                    &{
                        width: 74%;
                    }
                }             
            }
            >:nth-child(2){
                width: 100%;
                @media only screen and (min-width:c.$tablet){
                    &{
                        width: 24%;
                    }
                }               
            }
        }
    }
}