@use '../config' as c;

/* ARTÃCULO TIPO 3 */
.art03{
    width: c.$anchoFull;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 2rem;
    @media only screen and (min-width:c.$tablet){
        &{
            row-gap: 4rem;
        }
    }
    .art03-info{
        width: 100%;
        padding: 0 c.$padMin;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1.5rem;
        @media only screen and (min-width:c.$tablet){
            &{
                width: c.$anchoMedio;
            }
        }
        p{
            @media only screen and (min-width:c.$tablet){
                &{
                    width: c.$anchoCorto;
                    max-width: c.$textMax;
                    min-width: c.$textMin; 
                }
            }
        }
    }
    .art03-matrix{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        >a{
            width: 100%;
            position: relative;
            display: flex;
            text-decoration: none;
            color: inherit;
            @media only screen and (min-width:c.$tablet){
                &{
                    width: 50%;
                }
            }
            @media only screen and (min-width:c.$desktop){
                &{
                    width: 25%;
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            h4{
                font-size: 1.5rem;
                color: c.$color00;
                text-shadow: 5px 5px 10px c.$color01;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}







