@use '../config' as c;

// Animación Gsap ZIPPER
// html{
//     scroll-snap-type: y proximity;     
// }
.artZipper{
    width: c.$anchoFull;
    .zipper {
        width: 100%; 
        display: flex;
        justify-content: center;        
        ul {
            list-style-type:none;
            padding-left:0;
            li{
                scroll-snap-align: center!important;
                padding-left:0.2em;
                >.zipper_target {
                    display:inline-block;	
                }
            }
        } 
        .zipper_follow, ul, li, .zipper_target {
            margin:0;
            font-weight:800;
            text-transform:uppercase;
            letter-spacing:0.06em;
            line-height:1;
            font-size: clamp(1rem, 3.5vw, 3rem);
            font-family: c.$fuente01;        
        }
        ul, .zipper_follow, li, .zipper_target {
            margin:0;
            line-height:1;
        }        
        .zipper_follow {
            width: 50%;
            text-align: right;
            flex-grow: 0;
            align-self: flex-start;
            padding-right: 2rem;
        }
        .zipper_rotator{
            width: 50%;
            padding-left: 2rem;
            border-left: 2px solid c.$color02;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
    }
}