@use '../config' as c;



footer{
    position: relative;
    overflow: hidden;
    padding-top: 15rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10rem;
    background: c.$color01;
    background: linear-gradient(0deg, c.$color01bis 0%, c.$color01 100%);
    a, p, span{
        color: c.$color00;
    }   
    .footerInfo01{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10rem;
        >img{            
            width: 20dvw;
            filter: invert(1);
        }
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2rem;
            p{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}
