@use '../config' as c;

.hero01{
    width: c.$anchoFull;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
    background-color: c.$color01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >span{
        position: absolute;
        transform: translateY(20dvh);   
    }
    >span:nth-child(4){        
        width: 150%;
        height: 125dvw;
        border-radius: 50%;
        background-color: c.$color01;
        top: 45%;
        left: -25%;
        filter: blur(100px);     
    }
    >span:nth-child(3){        
        width: 150%;
        height: 120dvw;
        border-radius: 50%;
        background-color: c.$colorERROR;
        top: 40%;
        left: -25%;
        filter: blur(80px);     
    }
    >span:nth-child(2){        
        width: 150%; 
        height: 115dvw;
        border-radius: 50%;
        background-color: c.$color02;
        top: 30%;
        left: -25%;
        filter: blur(100px);        
    }
    >span:nth-child(1){        
        width: 150%;
        height: 110dvw;
        border-radius: 50%;
        background-color: c.$color00;
        top: 17%;
        left: -25%;
        box-shadow: 0px 0px 100px c.$color00;       
    }
    .hero01-content{
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
}
