@use '../config' as c;

.hero02{
    position: relative;
    overflow: hidden;
    width: c.$anchoFull;
    min-height: 100dvh;
    // min-height: 80dvh;
    // padding: c.$padMin;
    // margin-top: 3vw; // quitar en función de si el nav es transparent
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: c.$color00;
    @media only screen and (min-width:c.$tablet){
        min-height: 70dvh;
        // margin-top: 5vw; // quitar en función de si el nav es transparent
    }
    @media only screen and (min-width:c.$desktop){
        // margin-top: clamp(60px, 4vw, 110px); // quitar en función de si el nav es transparent
    }  
    video{
        position: absolute;
        z-index: 0;
        width: 100vw;
        object-fit: cover;
        object-position: center;
        @media only screen and (min-width:c.$tablet){
            &{
                height: 100vh;
            }
        }
    }
    .hero02-content{
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
}