@use '../config' as c;

.hero00{
    position: relative;
    overflow: hidden;
    width: c.$anchoFull;
    min-height: 100dvh;
    padding: 10vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @media only screen and (min-width:c.$tablet){
        min-height: 80dvh;
    }    
    .bg{ 
        position:absolute;
        background-position: center;
        background-size: cover;
        inset:0; 
        will-change:transform;
    }
    .hero00-content{
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
}