@use '../config' as c;

/* ANIMACIÓN CUBO */
/* Elementos comunes de formulario siempre que mantenga el form en el megamenú */
.moduleLoader01{
    display: none;
    // display: flex;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    --size: 100px;
    width: var(--size);
    height: var(--size);
}
:root {
    --cube-side: 2.75rem;
    --cube-side-half: calc(var(--cube-side) / 2);
}
.cube-wrapper {
    min-height: 4rem;
}  
@keyframes rotate {
    0% {
        transform: rotateX(-37.5deg) rotateY(45deg);
        -webkit-transform:rotateX(-37.5deg) rotateY(45deg);
    }
    50% {
        transform: rotateX(-37.5deg) rotateY(405deg);
        -webkit-transform: rotateX(-37.5deg) rotateY(405deg);
    }
    100% {
        transform: rotateX(-37.5deg) rotateY(405deg);
        -webkit-transform: rotateX(-37.5deg) rotateY(405deg);
    }
}
.cube, .cube * {
    position: absolute;
    width: var(--cube-side);
    height: var(--cube-side);
}
.sides {
    animation: rotate 3s ease infinite;
    animation-delay: 0.8s;
    -webkit-animation: rotate 3s ease infinite;
    -webkit-animation-delay: 0.8s;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotateX(-37.5deg) rotateY(45deg);
    -webkit-transform: rotateX(-37.5deg) rotateY(45deg);
    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        color: c.$color00;
        font-family: c.$fuente01;
        font-size: 1.5rem;
    }
}
.cube .sides * {
    box-sizing: border-box;
    background: c.$color02;
    border: 0.1rem solid white;
}
.cube .sides .top {
    animation: top-animation 3s ease infinite;
    animation-delay: 0ms;
    -webkit-animation: top-animation 3s ease infinite;
    -webkit-animation-delay: 0ms;
    transform: rotateX(90deg) translateZ(var(--cube-side));
    -webkit-transform: rotateX(90deg) translateZ(var(--cube-side));
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}  
@keyframes top-animation {
    0% {
        opacity: 1;
        transform: rotateX(90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateX(90deg) translateZ(var(--cube-side));
    }
    20% {
        opacity: 1;
        transform: rotateX(90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateX(90deg) translateZ(var(--cube-side-half));
    }
    70% {
        opacity: 1;
        transform: rotateX(90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateX(90deg) translateZ(var(--cube-side-half));
    }
    90% {
        opacity: 1;
        transform: rotateX(90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateX(90deg) translateZ(var(--cube-side));
    }
    100% {
        opacity: 1;
        transform: rotateX(90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateX(90deg) translateZ(var(--cube-side));
    }
}
.cube .sides .bottom {
    animation: bottom-animation 3s ease infinite;
    animation-delay: 0ms;
    -webkit-animation: bottom-animation 3s ease infinite;
    -webkit-animation-delay: 0ms;
    transform: rotateX(-90deg) translateZ(var(--cube-side));
    -webkit-transform: rotateX(-90deg) translateZ(var(--cube-side));
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}
@keyframes bottom-animation {
    0% {
        opacity: 1;
        transform: rotateX(-90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateX(-90deg) translateZ(var(--cube-side));
    }
    20% {
        opacity: 1;
        transform: rotateX(-90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateX(-90deg) translateZ(var(--cube-side-half));
    }
    70% {
        opacity: 1;
        transform: rotateX(-90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateX(-90deg) translateZ(var(--cube-side-half));
    }
    90% {
        opacity: 1;
        transform: rotateX(-90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateX(-90deg) translateZ(var(--cube-side));
    }
    100% {
        opacity: 1;
        transform: rotateX(-90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateX(-90deg) translateZ(var(--cube-side));
    }
}
.cube .sides .front {
    animation: front-animation 3s ease infinite;
    animation-delay: 100ms;
    -webkit-animation: front-animation 3s ease infinite;
    -webkit-animation-delay: 100ms;
    transform: rotateY(0deg) translateZ(var(--cube-side));
    -webkit-transform: rotateY(0deg) translateZ(var(--cube-side));
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}
@keyframes front-animation {
    0% {
        opacity: 1;
        transform: rotateY(0deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(0deg) translateZ(var(--cube-side));
    }
    20% {
        opacity: 1;
        transform: rotateY(0deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(0deg) translateZ(var(--cube-side-half));
    }
    70% {
        opacity: 1;
        transform: rotateY(0deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(0deg) translateZ(var(--cube-side-half));
    }
    90% {
        opacity: 1;
        transform: rotateY(0deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(0deg) translateZ(var(--cube-side));
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(0deg) translateZ(var(--cube-side));
    }
}
.cube .sides .back {
    animation: back-animation 3s ease infinite;
    animation-delay: 100ms;
    -webkit-animation: back-animation 3s ease infinite;
    -webkit-animation-delay: 100ms;
    transform: rotateY(-180deg) translateZ(var(--cube-side));
    -webkit-transform: rotateY(-180deg) translateZ(var(--cube-side));
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}  
@keyframes back-animation {
    0% {
        opacity: 1;
        transform: rotateY(-180deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(-180deg) translateZ(var(--cube-side));
    }
    20% {
        opacity: 1;
        transform: rotateY(-180deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(-180deg) translateZ(var(--cube-side-half));
    }
    70% {
        opacity: 1;
        transform: rotateY(-180deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(-180deg) translateZ(var(--cube-side-half));
    }
    90% {
        opacity: 1;
        transform: rotateY(-180deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(-180deg) translateZ(var(--cube-side));
    }
    100% {
        opacity: 1;
        transform: rotateY(-180deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(-180deg) translateZ(var(--cube-side));
    }
}  
.cube .sides .left {
    animation: left-animation 3s ease infinite;
    animation-delay: 100ms;
    -webkit-animation: left-animation 3s ease infinite;
    -webkit-animation-delay: 100ms;
    transform: rotateY(-90deg) translateZ(var(--cube-side));
    -webkit-transform: rotateY(-90deg) translateZ(var(--cube-side));
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}  
@keyframes left-animation {
    0% {
        opacity: 1;
        transform: rotateY(-90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(-90deg) translateZ(var(--cube-side));
    }
    20% {
        opacity: 1;
        transform: rotateY(-90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(-90deg) translateZ(var(--cube-side-half));
    }
    70% {
        opacity: 1;
        transform: rotateY(-90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(-90deg) translateZ(var(--cube-side-half));
    }
    90% {
        opacity: 1;
        transform: rotateY(-90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(-90deg) translateZ(var(--cube-side));
    }
    100% {
        opacity: 1;
        transform: rotateY(-90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(-90deg) translateZ(var(--cube-side));
    }
}  
.cube .sides .right {
    animation: right-animation 3s ease infinite;
    animation-delay: 100ms;
    -webkit-animation: right-animation 3s ease infinite;
    -webkit-animation-delay: 100ms;
    transform: rotateY(90deg) translateZ(var(--cube-side));
    -webkit-transform: rotateY(90deg) translateZ(var(--cube-side));
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}  
@keyframes right-animation {
    0% {
        opacity: 1;
        transform: rotateY(90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(90deg) translateZ(var(--cube-side));
    }
    20% {
        opacity: 1;
        transform: rotateY(90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(90deg) translateZ(var(--cube-side-half));
    }
    70% {
        opacity: 1;
        transform: rotateY(90deg) translateZ(var(--cube-side-half));
        -webkit-transform: rotateY(90deg) translateZ(var(--cube-side-half));
    }
    90% {
        opacity: 1;
        transform: rotateY(90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(90deg) translateZ(var(--cube-side));
    }
    100% {
        opacity: 1;
        transform: rotateY(90deg) translateZ(var(--cube-side));
        -webkit-transform: rotateY(90deg) translateZ(var(--cube-side));
    }
}
