@use '../config' as c;

.moduleH1Type01{
    position: relative;
    z-index: 10;
    width: c.$anchoFull;
    padding: c.$padMin 0;        
    background-color: c.$color00bis3;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap:2rem;
    @media only screen and (min-width: c.$tablet){
        padding: 2rem c.$padMax;
        border-radius: 25px;
        width: c.$anchoMedio;
    }
    @media only screen and (min-width:c.$desktop) {
        width: c.$anchoCorto;
        max-width: c.$textMax;
    }
    .moduleH1Type01-header, >p{
        padding: 0 c.$padMin;
        @media only screen and (min-width:c.$tablet) {
            width: 100%
        }
    }
    .moduleH1Type01-header{
        text-align: center;
    }
    >:nth-child(1){
        color: c.$color02;
    }
    >p{
        color: c.$color01;
    }    
}