
@use '../config' as c;

/* NAVEGADOR */
#toggle {
    display: none;
}
#toggleLabel {
    position: relative;
    z-index: 110;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    span {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        backdrop-filter: invert(1);
        -webkit-backdrop-filter: invert(1);
        /* background-color: c.$color00; */
        transition: all 250ms ease-out;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
    }   
}
#toggle:checked ~ nav #toggleLabel span:nth-child(3) {
    transform: rotate(-45deg) translate(-1px, 0px);
    -webkit-transform: rotate(-45deg) translate(-1px, 0px);
    -moz-transform: rotate(-45deg) translate(-1px, 0px);
    -o-transform: rotate(-45deg) translate(-1px, 0px);
}
#toggle:checked ~ nav #toggleLabel span:nth-child(2) {
    transform: rotate(0deg) scale(0.2, 0.2);
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -moz-transform: rotate(0deg) scale(0.2, 0.2);
    -o-transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
}
#toggle:checked ~ nav #toggleLabel span:nth-child(1) {
    transform: rotate(45deg) translate(0px, -2px);
    -webkit-transform: rotate(45deg) translate(0px, -1px);
    -moz-transform: rotate(45deg) translate(0px, -2px);
    -o-transform: rotate(45deg) translate(0px, -2px);
}
#toggle:checked ~ nav .megamenu{
    display: flex;
    height: 100vh;
    min-height: 430px;
    opacity: 1;
    pointer-events: initial;
    overflow: scroll;    
    @media only screen and (min-width:c.$tablet){
        &{
            height: 85vh;
        }
    }  
    @media only screen and (min-width:c.$desktop){
        &{
            height: auto;            
            overflow: visible;
        }
    }
}
nav{
    background-color: c.$color01bis5;
    width: c.$anchoFull;
    height: 8dvh;
    transition: height .2s ease;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width:c.$tablet){
        padding: 0.5rem 2rem;
    }
    >:nth-child(1){
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .idiomas{
            position: relative;
            //  position: absolute;
            // z-index: 110;
            // right: 6rem;
            // transform: translateY(-50%);
            // -webkit-transform: translateY(-50%);
            // top: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 1.2rem;
            cursor: crosshair;
            @media only screen and (min-width:c.$tablet){
                // right: 10rem;
            }
            ul{
                display: flex;
                flex-direction: row;
                column-gap: 1rem;
                @media only screen and (min-width:c.$tablet){
                    column-gap: 2rem;
                }
                a{
                    color:c.$color03;
                    &:hover{
                        color: c.$color02;
                    }
                }
            }
        } 
        .logoPrimary{
            height: 60%;
            // position: relative;
            position: absolute;
            left: 50%;
            top: 50%;
            filter: invert(1);
            transform: translate(-50%, -50%);
            z-index: 110;
            @media only screen and (min-width:c.$tablet){
                height: 90%;
                
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;                
            }            
        }
    }      
    a, p, span{
        color: c.$color00;
    }
}

// Estado reducido al hacer scroll
nav.is-scrolled{
    height: 6dvh;
    background-color: c.$color01bis4;
}

.megamenu{
    position: absolute;
    width: c.$anchoFull;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;    
    padding: 6rem 1.5rem 4rem;
    transition: 0.4s;    
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    // transition-behavior: allow-discrete;
    background-color: c.$color01;
    top: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: clamp(2rem, 2vw, 5rem);
    @media only screen and (min-width:c.$tablet){
        &{
            top: 8px;
            padding: 4rem 1.5rem;
            width: 98%;
            border-radius: 2px; 
        }
    }     
    @media only screen and (min-width:c.$desktop){
        &{
            top: 100px;
            width: 90%;  
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    img{
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .col{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 2rem;
        @media only screen and (min-width:c.$tablet){
            &{
                width: 45%    
            }
        }
        @media only screen and (min-width:c.$desktop){
            &{
                width: 30%;
                // height: 400px;
                border-right: 2px solid c.$color00; 
            }
        }
        >p{
            font-size: 1.3rem;
            font-family: c.$fuente02;
            letter-spacing: 2px;
        }
        >ul{
            width: c.$anchoFull;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 1rem;
            li{
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                >div{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    @media only screen and (min-width: c.$tablet){
                        flex-direction: row;
                        column-gap: 2rem; 
                    }                   
                }
                a, >span{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 1rem;
                    transition: 0.1s;
                    -webkit-transition: 0.1s;
                    -o-transition: 0.1s;
                    -moz-transition: 0.1s;
                    &:hover{
                        filter: c.$filterColor02;
                        -webkit-filter: c.$filterColor02;
                    }
                    
                }
                
                .linkReducido{
                    width: 100%;
                    >span{
                        font-size: clamp(0.7rem, 1vw, 1.1rem);
                    }
                }
            }
            
            img{
                width: 20px;
                filter: invert(1);
                -webkit-filter: invert(1);                                       
            }
        }            
        .boton{
            padding: 0.7rem 1.5rem 0.6rem;
            font-size: 1rem;
            font-size: 0.9rem;
        }                                
    }
    >:nth-child(1){        
        >ul{
            >li {            
                >div{
                    display: flex; 
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 1rem;
                    position: relative;
                    cursor: crosshair;
                    color: c.$color00;              
                    &:hover .submenu{                                             
                        width: 100vw;
                        padding: 0 1rem;
                        opacity: 1;                        
                        animation: aparecer ease-in;
                        animation-duration: .4s;
                        animation-iteration-count: 1;
                        -webkit-animation: aparecer ease-in;
                        -webkit-animation-duration: .4s;
                        -webkit-animation-iteration-count: 1;
                        @media only screen and (min-width:c.$tablet){
                            &{
                                width: 400px;
                            }
                        } 
                        @keyframes aparecer {
                            from{
                                opacity: 0;
                            }
                            to{
                                opacity: 1;
                            }
                        }
                    }
                    .submenu{
                        position: absolute;
                        z-index: 110;
                        top: 1.5rem;
                        left: -6rem;
                        width: 0;
                        opacity: 0;
                        overflow: hidden;
                        @media only screen and (min-width:c.$tablet){
                            &{
                                top: -2rem;
                                left: 100%;  
                            }
                        }                     
                        ul{
                            padding: 2rem;
                            border-radius: 10px;
                            backdrop-filter: blur(5px);
                            -webkit-backdrop-filter: blur(5px);
                            background-color: c.$color01bis;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            row-gap: 1rem;
                        }     
                    }                    
                }                
            }            
        }                    
    }
    >:nth-child(2){
        row-gap: 2.5rem;
        .rrss{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 3rem;
            img{
                width: 2rem;
                transition: 0.1s;
                -webkit-transition: 0.1s;
                -o-transition: 0.1s;
                -moz-transition: 0.1s;
                filter: invert(1);
                -webkit-filter: invert(1);
                &:hover{
                    filter: c.$filterColor02;
                    -webkit-filter: c.$filterColor02;
                }                    
            }
        }
        >:last-child{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            >img{
                width: 200px;
                filter: invert(1);
            }
        }
    }
    >:nth-child(3){
        border-right: none;
        height: auto;                
    }    
}

/* FOOTER */
footer{
    
    .megamenu{
        position: relative;
        display: flex;
        z-index: 90;
        pointer-events: initial;
        height: 100%;
        opacity: 1;
        overflow: scroll;
        position: static;
        background-color: initial;
        padding: 0 1.5rem;
        @media only screen and (min-width:c.$desktop){
            &{
                overflow: visible;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
        .idiomas{
            display: none;       
        } 
    }    
}

// TODO: PENDIENTE INDEPENDIZAR ESTILSO DEL FOOTER A OTROS CONTROLADORES PARA EL FOOTER
