@use '../config' as c;

.ripple {
  position: fixed;
  z-index: 1000;
  width: 0px;
  height: 0px;
  -webkit-mask-image: url('/assets/img/system/circle1.svg');
  mask-image: url('/assets/img/system/circle1.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  backdrop-filter: invert(1);
  -webkit-backdrop-filter: invert(1);
 }
 
 @keyframes ripple-effect {   
    to {
      width: 150px;
      height: 150px;
      opacity: 0.05;
      margin: -60px;
    }
 }