@use '../config' as c;

.sect02{
    width: c.$anchoFull;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    row-gap: 0;
    @media only screen and (min-width:c.$tablet){
        &{
            align-items: center;
        }
    }
    .sect02-content{
        width: 100%;
        >:nth-child(1){
            width: 100%;
            height: 100%;
            // margin-top: 1rem;
            display: flex;
            // @media only screen and (min-width:c.$tablet){
            //     &{
            //         // margin-top: 2rem;
            //     }
            // }
        }
        article{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            &:hover >:nth-child(2) img{
                // filter: $filterColorSepia;
                // -webkit-filter: $filterColorSepia;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
            >:nth-child(1){
                width: 100%;
                height: auto;
                padding: c.$padMin;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 2rem;
                @media only screen and (min-width:c.$tablet){
                    &{
                        width: 50%;
                        height: 50dvw;
                        max-height: calc(c.$anchoMax / 2);                   
                        padding: 8vw;
                        row-gap: 3rem;
                    }
                }
            }
            >:nth-child(2){
                width: 100%;
                height: 100vw;
                overflow: hidden;
                @media only screen and (min-width:c.$tablet){
                    &{
                        width: 50%;
                        height: 50dvw;
                        max-height: calc(c.$anchoMax / 2);
                    }
                }            
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    // filter: $filterColorSepia;
                    // -webkit-filter: $filterColorSepia;
                    transition: 1s ease-in-out;                    
                }
            }            
        }
        @media only screen and (min-width:c.$tablet){
            >:nth-child(odd){                
                >:nth-child(1){
                    order: 1;
                }
                >:nth-child(2){
                    order: 0;
                }                
            }
        }          
    }
}