@use '../config' as c;

/* Default toast style */
.toastContain {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: min(300px, 90vw);
    z-index: 999990;
    @media only screen and (min-width:c.$desktop){
      &{
        left: inherit;
        right: 50px;
      }
    }
  }
  .toast {
    opacity: 0;
    min-height: 30px;
    font-family: c.$fuente02;
    font-size: 1rem;
    padding: 5px;
    margin-top: -42px;
    box-shadow: 0 3px 4px c.$color02 4;
    text-align: center;
    line-height: 30px;
    text-wrap: balance;
    transform: scale(0.95) translateY(50px);
    transition: margin-top 0.5s, transform 0.5s, opacity 0.5s;
  }
  .toast.open {
    margin-top: 10px;
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  
  /* Custom Toast Style */
  .toast.success {    
    background-color: c.$colorOK;
  }
  .toast.error {
    background-color:c.$colorERROR;
  }