<!DOCTYPE html>
<html lang="eu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{asunto}</title>
    </head> 
    <body align="center" style="width:100%;font-family:Arial; font-size:18px; padding:16px;">
        <div style="text-align:center;width:100%;">
            <h1 style="font-size:50px;color:#24658e;">Kaixo, {nombreDestinatario}!</h1>
        </div>
        <div align="center" style="width:100%; max-width:1200px; min-width:300px;">
            <p>Behin-behineko sarbidea sortu dizugu. Egin klik hurrengo estekan:</p>
            <a href="{link}">Pasahitza berreskuratzeko joan</a>
            <p><b>Ez baduzu pasahitza aldatzea eskatu, ez ikusi mezu hau.</b></p>
            <p style="margin-top: 100px;">Agur bero bat,</p>
            <p><i>Webguneko taldea</i></p>
        </div>
    </body> 
</html>
