@use './config' as c;
@use './global';

@use './resources/sect01';
@use './resources/sect02';

@use './resources/artZipper';
@use './resources/sectTabs01';

@use './resources/art01';
@use './resources/art02';
@use './resources/art03';
@use './resources/art04';
@use './resources/art05';
@use './resources/art06';
@use './resources/art07';
@use './resources/art08';
@use './resources/art09';
@use './resources/art10';
@use './resources/art11';
@use './resources/art12';
@use './resources/art13';
@use './resources/art14';
@use './resources/art15';
@use './resources/art16';
@use './resources/art17';

@use './resources/artForm01';
@use './resources/artSlider01';
@use './resources/artSlider02';
@use './resources/artAccordion01';

@use './resources/moduleH1Type01';
@use './resources/moduleH1Type02';
@use './resources/moduleH2Type01';

@use './resources/moduleButtonType01';
@use './resources/moduleButtonType02';

@use './resources/moduleLoader01';

@use './resources/moduleImgType01';

@use './resources/hero00';
@use './resources/hero01';
@use './resources/hero02';
@use './resources/moduleTest';
@use './resources/footerInfo01';
