@use '../config' as c;

.sectionBlogCatalog01 {
    width: 100%;
    min-width: 0;
    display: grid;
    gap: clamp(0.5rem, 2vw, 1.5rem);

    > h2,
    > h3,
    > h4,
    > h5 {
        width: min(calc(100% - (2 * c.$padMin)), c.$textMax);
        margin-inline: auto;
        color: c.$color02;
    }

    > * {
        min-width: 0;
    }

    @media (min-width: c.$tablet) {
        > h2,
        > h3,
        > h4,
        > h5 {
            width: min(calc(100% - (2 * c.$padMax)), c.$textMax);
        }
    }
}

