<article class="art09 {classVar}">

    <!-- Encabezado dinámico (por defecto h3)-->
    {header-primary}

    <!-- Intro -->
    <div class="art09-info">
        <p data-lang="{p1-dl}">{p1-text}</p>
        <p>
            <span data-lang="{span-dl}">{span-text}</span>
            <a data-lang="{link-dl}"
               href="{link-href}"
               class="enlace"
               target="_blank"
               title="{link-title}">{link-text}</a>
        </p>
    </div>

    <!-- Fichas -->
    <div class="art09-fichas">
        {art09-fichas}
    </div>
</article>
