<div class="footerInfo01">
    <img data-lang="{img-01-dl}" src="{img-01-src}" alt="{img-01-alt}" title="{img-01-title}">
    <div>
        <p>
            <span data-lang="{cookie-policy}" class="legal" data-tipo="cookies">{cookie-policy-text}</span>
            <span data-lang="{terms-privacy}" class="legal" data-tipo="privacidad">{terms-privacy-text}</span>
            <span data-lang="{legal-notice}" class="legal">{legal-notice-text}</span>
        </p>

        <p><span>{year}</span> <span data-lang="{rights-reserved}">{rights-reserved-text}</span></p>
        
        <a data-lang="{lad-info-a}" href="{lad-info-a-href}" rel="nofollow noindex" target="_blank" title="{lad-info-a-title}">
            <p data-lang="{lad-info-p}" class="lad">{lad-info-p-text}</p>
        </a>
    </div>
</div>
